/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}

.overlay-custom-class > mat-dialog-container {
    padding: 0px !important;
}
::ng-deep .cdk-overlay-pane{
    max-width: 70% !important;
}
.pointer-cursor{
    cursor: pointer;
}
.white-text{
    color: white !important;
}
.mat-card{
    background-color: #3f3737;
}